<!DOCTYPE html>
<html lang="en">

    <% include partial/header.ejs %>

    <body>

        <% include partial/site-navigation.ejs %>

        <div class="container">

            <div class="row">

                <% include partial/user-navigation.ejs %>


                <div class="col-sm-8 text-left"> 
                    <h1>Contact</h1>
                    <p>
                    For any assistance & complaints, contact us at email or telephone

                    </p>
                    <p>
                    email id : contact@ninerswap.com
                    </p>
                    <p>
                    telephone : 900 800 7700
                    </p>


                </div>
            </div>


        </div><br>

        <% include partial/footer.ejs %>

    </body>
</html>


