<div class="col-sm-2 sidenav">
      <p><a href="../index">Home</a></p>
      <p><a href="../categories">Categories</a></p>
      <p><a href="../about">About</a></p>
      <p><a href="../contact">Contact Us</a></p>
</div>

